
  <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="-250 0 350 100" style="display: block; position: fixed;top: 0px;">
    <path d="M 10 0 c -1 -1 -4 7 -2 15 c 4 20 43 24 45 25 c 42 10 49 76 47 40 v -80"></path>
    
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 -1 70 14.5" style="display: block; bottom: -80px; position: fixed;">
    <path d="m 0 12 c 0 -8 8 -18 40 -4 c 13 4 35 -18 30 0 v 12 h -70 "></path>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 -1 120 50" style="display: block;left: 30%;position: fixed;opacity: 0.1;margin-top: 5%;">
    <path d="m 25 2 l -8 14 l 4 8 l 4 -7 l 5 7 l 3 -7 l -8 -15 M 0 50 l 15 -32 l 9 17 l -4 8 l -5 -10 l -7 17 z m 20 0 l 16 -33 l 14 34 l -6 0 l -8 -21 l -9 21 M 33 43 l -3 7 l 7 0 l -4 -7"></path>
  </svg>
  <div class="row">
      <div class="col"style="color: red;position: absolute;top: 23%;margin-left: 6%;font-family: sans-serif;font-size: 6vw;">Good</div>
      <div class="col"style="color: red;position: absolute;top: 36%;margin-left: 6%;font-family: sans-serif;font-size: 6vw;font-weight: bold;">DAY</div>
      <div class="col"style="color: red;position: absolute;top: 49%;margin-left: 6%;font-family: sans-serif;font-size: 6vw;">Everyday</div>
    </div>

  <app-soft-services></app-soft-services>